@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@200&family=Montserrat:wght@200&display=swap");

/*Colours*/
.bg-color-name-title {
    background-color:#504334;
}
.ui-color-name-title {
    background-color: #148119;

}

.ui-color-contact-title{
    background-color:#f9f91c ;

}

.ui-color-resume-title {
    background-color: #c5871c;
}

.ui-color-download-title{
    background-color: #ef300f;
}
/*paddings*/

h1,h2,h3,h4{
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}
 .general-sub {
    font-family: montserrat;
    font-weight: 300;
    color: #fafafa;
 }


/*Heading*/

#nav {
    margin: 0;
}

header {

    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    position: center;
    width: 100%;
}

.name {
    font-family: "montserrat";
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
}

.title {
    font-family: "montserrat", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size:0 ;
}

#nav li{
    font-size: 14px;
    padding:0;


}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menu-item a i{
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 22px;
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*Hoover*/

.hvr-sweep-to-top:before { /*dont work*/
    background: #148119;
    height: 120px;
}

/*footer*/
footer {
    background-color: rgb(52, 132, 202);
    color:#fafafa;
    min-height: 120px;
    margin: 0%;
}

.inlineblock{
    display: inline-block;
}

.cv-pfd i {
    font-size:80px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
   
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footerdetalies {
    padding: 20px;
}