@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&display=swap");

.bg-color-name-title {
    background-color: rgb(88, 24, 55);
}
header {

    margin: 0;
}

.logo {
    position: center;
    width: 100%;
}