@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&display=swap");

.bg-color-name-title {
    background-color:#bd55bd;
}
header {

    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    position: center;
    width: 100%;
}